{{ define "main" }}

  {{ "<!-- topics -->" | safeHTML }}
  <section class="section bg-gray">
    <div class="container">
      <div class="row justify-content-center">
        <iframe style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);text-align: center;" width="700" height="360" src="https://www.youtube.com/embed/EeR3kmlKH1k?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          {{with .Site.Params.topics.title}} <h2 class="section-title">{{ . }}</h2> {{ end }}
        </div>



        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="https://entgra-documentation.gitlab.io/v3.8.0/docs/Document/tutorials/android/" class="px-4 py-5 bg-white shadow text-center d-block match-height">
            <i class="ti-android icon text-primary d-block mb-4"></i>
            <h3 class="mb-3 mt-0">Android</h3>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="https://entgra-documentation.gitlab.io/v3.8.0/docs/Document/tutorials/ios/" class="px-4 py-5 bg-white shadow text-center d-block match-height">
            <i class="ti-apple icon text-primary d-block mb-4"></i>
            <h3 class="mb-3 mt-0">iOS</h3>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="https://entgra-documentation.gitlab.io/v3.8.0/docs/Document/tutorials/windows/" class="px-4 py-5 bg-white shadow text-center d-block match-height">
            <i class="ti-microsoft-alt icon text-primary d-block mb-4"></i>
            <h3 class="mb-3 mt-0">Windows</h3>
          </a>
        </div>

        </div>
    </div>
  </section>
  {{ "<!-- /topics -->" | safeHTML }}



  {{ if .Site.Params.cta.enable }}
  {{ "<!-- call to action -->" | safeHTML }}
  <section class="bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section bg-white shadow text-center">
          {{ with .Site.Params.cta.title }} <h2 class="mb-4">{{ . }}</h2> {{ end }}
          {{ with .Site.Params.cta.description }} <p class="mb-4">{{ . }}</p> {{ end }}
          <a href="{{ with .Site.Params.cta.btnURL}}{{ . | relLangURL }}{{ end }}" class="btn btn-primary">{{ with .Site.Params.cta.btnText}}{{ . }}{{ end }}</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ "<!-- /call to action -->" | safeHTML }}
  {{ end }}

{{ end }}